# release configuration

/.release/                              @hashicorp/release-engineering @hashicorp/github-secure-boundary
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-secure-boundary
