# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @hashicorp/boundary

# engineering and web presence get notified of, and can approve changes to, web tooling, but not content.

/website/ @hashicorp/web-presence @hashicorp/boundary
/website/data/
/website/public/
/website/content/

# education and engineering get notified of, and can approve changes to web content.

/website/data/          @hashicorp/boundary-education-approvers @hashicorp/boundary
/website/public/        @hashicorp/boundary-education-approvers @hashicorp/boundary
/website/content/       @hashicorp/boundary-education-approvers @hashicorp/boundary
/website/redirects.js   @hashicorp/boundary-education-approvers @hashicorp/boundary
