# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
@hashicorp/boundary

# release configuration

/.release/                               @hashicorp/github-secure-boundary
/.github/workflows/build.yml             @hashicorp/github-secure-boundary
