.root {
  display: grid;

  @media (--medium-up) {
    position: sticky;
    top: calc(50vh - (249px));
  }

  & > * {
    grid-area: 1 / 1;
    opacity: 0;
    transition: opacity ease-in 0.5s;

  &:last-child {
    opacity: 1;
  }
  }

  @media (--medium-up) {
    & > *:last-child {
      opacity: 0;
    }

    & > *.active {
      opacity: 1;
    }
  }

  & > svg {
    width: 100%;
  }
}
