.root {
  composes: g-grid-container from global;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  width: 100%;

  @media (min-width: 940px) {
    flex-direction: row;
    margin-bottom: 24px;
    margin-top: 72px;
  }

  /* currently only supports "boundary", may want to extend to support other product themes */
  &[data-theme='boundary'] {
    --brand: var(--boundary);
  }

  & .pageHeading {
    margin: 0;
  }

  & .categoryHeading {
    margin: 32px 0 16px 0;
  }

  & :global(.g-content) {
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    @media (max-width: 939px) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 64px;
    }

    & > h1:first-child {
      margin-top: 0;
    }
  }

  & :global(.g-section-header) {
    margin-bottom: 100px;
  }

  /* TODO: this should be applied in global styles, temporary override here */
  & pre,
  & code {
    font-size: 0.875em;
  }

  & pre code {
    font-size: 1em;
  }
}
