/* Global Component Styles */
@import '~@hashicorp/mktg-global-styles/style.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/tables.css';
@import '~@hashicorp/nextjs-scripts/prism/style.css';

@import '~@hashicorp/react-hero/style.css';
@import '~@hashicorp/react-button/styles/index.css';
@import '~@hashicorp/react-consent-manager/style.css';
@import '~@hashicorp/react-toggle/style.css';
@import '~@hashicorp/react-vertical-text-block-list/style.css';
@import '~@hashicorp/react-docs-page/style.css';
@import '~@hashicorp/react-search/style.css';
@import '~@hashicorp/react-content/style.css';
@import '~@hashicorp/react-subnav/style.css';
@import '~@hashicorp/react-tabs/style.css';
@import '~@hashicorp/react-enterprise-alert/style.css';
@import '~@hashicorp/react-product-features-list/style.css';
@import '~@hashicorp/react-use-cases/style.css';
@import '~@hashicorp/react-alert-banner/style.css';

/* Local Components */
@import '../components/footer/style.css';

/* Local Pages */
@import './community/style.css';
@import './home/style.css';

/* Print Styles */
@import './print.css';

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

.boundary-clickthrough-video {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 3rem auto;
  border-radius: 3px;
  box-shadow: 0 14.3254px 14.3254px rgba(37, 41, 55, 0.16);
}

.boundary-clickthrough-desktop-video {
  max-width: 800px;
}

.g-type-body {
  color: var(--gray-2);
}
