/* Global Component Styles */
@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/nextjs-scripts/prism/style.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';
@import '~@hashicorp/react-global-styles/custom-properties/font.css';
@import '~@hashicorp/react-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/react-global-styles/_temporary-to-remove/tables.css';

@import '~@hashicorp/react-hero/dist/style.css';
@import '~@hashicorp/react-button/styles/index.css';
@import '~@hashicorp/react-consent-manager/dist/style.css';
@import '~@hashicorp/react-toggle/dist/style.css';
@import '~@hashicorp/react-section-header/style.css';
@import '~@hashicorp/react-vertical-text-block-list/style.css';
@import '~@hashicorp/react-docs-sidenav/style.css';
@import '~@hashicorp/react-content/style.css';
@import '~@hashicorp/react-subnav/style.css';
@import '~@hashicorp/react-tabs/style.css';
@import '~@hashicorp/react-enterprise-alert/dist/style.css';
@import '~@hashicorp/react-docs-page/style.css';
@import '~@hashicorp/react-product-features-list/style.css';
@import '~@hashicorp/react-use-cases/dist/style.css';
@import '~@hashicorp/react-alert-banner/style.css';

/* Local Components */
@import '../components/footer/style.css';

/* Local Pages */
@import './community/style.css';
@import './home/style.css';

/* Print Styles */
@import './print.css';

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Web Fonts */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Display Font (Gilmer) */
@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/light.woff2') format('woff2'),
    url('/fonts/gilmer/light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/regular.woff2') format('woff2'),
    url('/fonts/gilmer/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/medium.woff2') format('woff2'),
    url('/fonts/gilmer/medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/bold.woff2') format('woff2'),
    url('/fonts/gilmer/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Body Font (Metro) */
@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/book.woff2') format('woff2'),
    url('/fonts/metro-sans/book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/regular.woff2') format('woff2'),
    url('/fonts/metro-sans/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/semi-bold.woff2') format('woff2'),
    url('/fonts/metro-sans/semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/bold.woff2') format('woff2'),
    url('/fonts/metro-sans/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Code Font (Deja Vu) */
@font-face {
  font-family: 'dejavu-sans-mono-web';
  src: url('/fonts/dejavu/mono.woff2') format('woff2'),
    url('/fonts/dejavu/mono.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

.boundary-clickthrough-video {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 3rem auto;
  border-radius: 3px;
  box-shadow: 0 14.3254px 14.3254px rgba(37, 41, 55, 0.16);
}
