.outer {
  overflow: hidden;
  height: 0;
  &[data-useanimation='true'] {
    transition: height 0.4s;
  }
}

.inner {
  opacity: 1;

  &[data-iscollapsed='true'] {
    opacity: 0;
  }
  &[data-useanimation='true'] {
    transition: opacity 0.4s;
  }
}
