.container {
  width: 100%;
  border: 1px solid var(--gray-5);
  display: flex;
  justify-content: center;
  min-height: 193px;
  padding: 40px 50px;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    & .title {
      font-family: var(--font-display);
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--gray-4);
      font-weight: bold;
    }
  }

  & .downloadsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 22px;
    margin-bottom: 0;
    padding: 0;

    & > li {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 12px;
      }

      & svg {
        max-height: 40px;
      }

      & .versionsList {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        & > .versionDownload {
          margin-left: 10px;
        }
      }
    }
  }
}
