.p-home {
  & .break-section {
    background: linear-gradient(
      var(--gray-6) 0%,
      var(--gray-6) 50%,
      var(--white) 50%,
      var(--white) 100%
    );
  }

  & .features-section {
    padding: 128px 0;

    @media (max-width: 800px) {
      padding: 88px 0;
    }

    & > * {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  & .use-cases-section {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: var(--gray-6);

    @media (max-width: 800px) {
      padding-top: 88px;
    }

    & .g-use-cases {
      & .icon {
        min-height: 140px;
        margin-bottom: 25px;
      }
    }

    & h2 {
      margin: 0;
      text-align: center;
      margin-bottom: 64px;
      @media (max-width: 800px) {
        margin-bottom: 48px;
      }
    }
  }
}
