.sectionBreakCta {
  padding: 60px 30px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 8px 12px rgba(37, 38, 45, 0.08);
  margin: 0 auto;
  background-color: var(--white);

  @media (width <= 880px) {
    margin: 0 40px;
  }

  & > h4 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  & > p {
    margin-top: 0;
    margin-bottom: 40px;
  }

  & hr {
    width: 64px;
    background-color: var(--boundary);
    margin-top: 0;
    margin-bottom: 24px;
  }
}
