.homepageHero {
  padding: 128px 0;
  background-repeat: no-repeat;
  background-color: var(--boundary-secondary);
  background-image: url(/img/hero-pattern.svg);
  background-position: bottom right;

  @media (max-width: 767px) {
    padding: 88px 0;
    background-position: bottom 0 right -130px;
  }

  & :global(.g-hero) {
    background: none;
    padding: 0;

    & :global(.g-btn:nth-of-type(1)) {
      border-color: var(--boundary);
      background-color: var(--boundary);
    }

    /* Asana ticket to address this debt: https://app.asana.com/0/1100423001970639/1200214305924669/f */
    & :global(.g-btn:nth-of-type(2)) {
      border: unset;

      &::after {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        content: ' ';
        background-image: url('/img/icon-right-arrow.svg');
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
      }
    }

    & :global(.carousel) {
      display: flex;
      flex-direction: column-reverse;

      & :global(.controls) {
        padding-top: 0;
        margin-bottom: 32px;
      }
    }
  }
}
