.homepageHero {
  padding: 128px 0;
  background-repeat: no-repeat;
  background-color: var(--boundary-l3);
  background-image: url(/img/hero-pattern.svg);
  background-position: bottom right;

  @media (max-width: 767px) {
    padding: 88px 0;
    background-position: bottom 0 right -130px;
  }

  & :global(.g-hero) {
    background: none;
    padding: 0;

    & :global(.g-btn) {
      border-color: var(--boundary);
      background-color: var(--boundary);
    }

    & :global(.carousel) {
      display: flex;
      flex-direction: column-reverse;

      & :global(.controls) {
        padding-top: 0;
        margin-bottom: 32px;

        & :global(.progress-bar) {
          background-color: var(--gray-6);

          & > span {
            background: var(--boundary);
          }
        }
      }
    }
  }
}
