.root {
  width: 100%;
  padding-top: 88px;
  padding-bottom: 128px;
  background-repeat: no-repeat;
  background-color: var(--red-l3);
  background-image: url(/img/hero-pattern.svg);
  background-position: bottom right;

  @media (max-width: 767px) {
    padding: 64px 0;
    background-position: bottom 0 right -130px;
  }

  & h1 {
    white-space: pre-wrap;
    margin-top: 0;
  }

  & p {
    max-width: 22em;
    color: var(--gray-2);

    @media (width < 1219px) {
      margin: 0 auto;
    }
  }

  & .contentAndLinks {
    max-width: 513px;

    @media (width < 1219px) {
      margin-bottom: 64px;
      text-align: center;
    }

    & .links {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(32px - 8px);

      @media (width < 1219px) {
        justify-content: center;
      }

      & a {
        &:global(.variant-primary) {
          border-color: var(--boundary);
          background-color: var(--boundary);
          margin-right: 16px;

          @media (width < 405px) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

.contentContainer {
  composes: g-grid-container from global;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 1219px) {
    flex-direction: column;
  }
}

.video {
  max-width: 100%;
  box-shadow: 0 24px 40px rgba(50, 14, 16, 0.24);
}
