.root {
  width: 100%;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-color: var(--red-l3);
  background-image: url(/img/hero-pattern.svg);
  background-position: bottom right;

  @media (max-width: 1120px) {
    background-image: url(/img/mobile-hero-pattern.svg);
  }

  @media (max-width: 767px) {
    padding: 64px 0;
    background-position: bottom 0 right -130px;
  }

  & h1 {
    white-space: pre-wrap;
  }

  & p {
    margin: 0 auto 0 auto;
    max-width: 40em;
  }

  & .contentAndLinks {
    max-width: 513px;

    & .links {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(32px - 8px);
      margin-bottom: -8px;

      & a {
        &:global(.variant-primary) {
          border-color: var(--boundary);
          background-color: var(--boundary);
          margin-right: 32px;

          @media (width < 405px) {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
