.root {
  padding: 88px 0;

  & > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
    @media (--small) {
      margin-bottom: 0;
    }
  }
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (--small) {
    flex-direction: column;
  }

  & > ul {
    max-width: 470px;
    margin-left: 128px;
    padding: 0;

    @media (width < 1120px) {
      margin-left: 64px;
    }

    @media (--small) {
      margin-left: 0;
    }
  }
}

.diagram {
  width: 591px;
  max-width: 100%;
}

.features {
  & > li {
    list-style: none;
    padding: 135px 0;

    @media (--small) {
      padding-top: 0;
      padding-bottom: 64px;
    }
  }
}
