name: Lint GitHub Actions workflows
on:
  push:
    paths:
      - ".github/workflows/*.yml"

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ${{ fromJSON(vars.RUNNER) }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Check workflow files
        uses: docker://docker.mirror.hashicorp.services/rhysd/actionlint@sha256:5acca218639222e4afbc82fc6e9ef56cbe646ade3b07f3f5ec364b638258a244
        with:
          args: -color -ignore SC2129 -ignore "'property \"download-path\" is not defined in object type'"
