name: "golangci-lint"

on:
  pull_request:
    paths-ignore:
      - 'website/**'

permissions:
  contents: read

jobs:
  lint:
    name: "Run Linter"
    runs-on: ${{ fromJSON(vars.RUNNER) }}
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: '0'
      - name: Determine Go version
        id: get-go-version
        # We use .go-version as our source of truth for current Go
        # version, because "goenv" can react to it automatically.
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: "${{ steps.get-go-version.outputs.go-version }}"
      - name: Install Dependencies
        # if we really need to we can update this to run `make tools`
        # later but its just not necessary to only run linters
        run: |
          make golangci-lint
      - name: Running Linters
        run: |
          LINT_DIFF_BRANCH="origin/${GITHUB_BASE_REF}" make lint-diff
