name: "make-gen-delta"
on:
  - workflow_dispatch
  - push
  - workflow_call

permissions:
  contents: read

jobs:
  make-gen-delta:
    name: "Check for uncommitted changes from make gen"
    runs-on: ${{ fromJSON(vars.RUNNER) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: '0'
      - name: Determine Go version
        id: get-go-version
        # We use .go-version as our source of truth for current Go
        # version, because "goenv" can react to it automatically.
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "${{ steps.get-go-version.outputs.go-version }}"
          cache: false
      - name: Determine Go cache paths
        id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-mod=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-bin=$(go env GOPATH)/bin" >> "$GITHUB_OUTPUT"
      - name: Determine Go modules cache key
        id: go-mod-cache-key
        run: |
          echo "key=go-mod-${{ hashFiles('**/go.sum') }}" >> "$GITHUB_OUTPUT"
      - name: Set up Go modules cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ steps.go-mod-cache-key.outputs.key }}
          restore-keys: |
            go-mod
      - name: Determine Go tools cache key
        id: go-tools-cache-key
        run: |
          echo "key=go-tools-${{ hashFiles('./Makefile', './tools/tools.go') }}" >> "$GITHUB_OUTPUT"
      - name: Set up Go tools cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-bin }}
          key: ${{ steps.go-tools-cache-key.outputs.key }}
          restore-keys: |
            go-tools
      - name: Running go mod tidy
        run: |
          go mod tidy
      - name: Install Dependencies
        run: |
          go mod download
          make tools
      - name: Running make gen
        run: |
          make gen
      - name: Check for changes
        run: |
          git diff --exit-code
          git status --porcelain
          test -z "$(git status --porcelain)"
